In [121]:
import pandas as pd
import numpy as np
import fileinput
from sklearn.ensemble import RandomForestClassifier

mountList = open("/usr2/py/mount.txt", "r").readlines()
newmountList = open("/usr2/py/newmount.txt","r").readlines()
outputList = [item for item in mountList if "filer" not in item.lower()]
outputList.extend(newmountList)
f = open("/usr2/py/mount.txt","w")
f.write(''.join(outputList))
f.close()

In [122]:
# for line in fileinput.FileInput("DataSet/Dishonest Internet users dataset.txt", inplace=1):
#     line=line.replace(" ",",")
#     print(line)

In [123]:
data = pd.read_csv('DataSet/Dishonest Internet users dataset.txt',header=None,skipinitialspace=True)
data.shape

(322, 5)

In [124]:
data.columns = ['CT','CU','LT','TC','TS']
data.head()

           CT          CU          LT     TC             TS
0  CT_range_4  CU_range_1  LT_range_4  sport  untrustworthy
1  CT_range_4  CU_range_1  LT_range_4  sport  untrustworthy
2  CT_range_1  CU_range_4  LT_range_4  sport    trustworthy
3  CT_range_2  CU_range_1  LT_range_4  sport    trustworthy
4  CT_range_3  CU_range_1  LT_range_4  sport    trustworthy

eij - i-th entity interacting with j-th entity.

EIDj - j-th entity Identification

CT - Counting Trust. It is used to count how many trustworthy transactions (belonging to a specific context) occur after the last untrustworthy transaction.
CU - Counting Un-trust. It is used to count how many untrustworthy transactions (belonging to a specific context) occur after the last trustworthy transaction.
LT - Last Time. It is used to take into account of the date at which the last experience in a specific context took place.
TC - Transactions Context. It is used to identify the type of transaction, such as game, e-commerce, social network and others.
TS - Trust Score. It  is the score that an entity gives to another entity at the end of each direct interaction.

In [125]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 5 columns):
CT    322 non-null object
CU    322 non-null object
LT    322 non-null object
TC    322 non-null object
TS    322 non-null object
dtypes: object(5)
memory usage: 12.7+ KB

In [126]:
# data.sort_values(['normalized_losses'],ascending=False)
# data = data.reset_index()
# data.head()

In [127]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.CT = enc.fit_transform(data.CT)
data.CU = enc.fit_transform(data.CU)
data.LT = enc.fit_transform(data.LT)
data.TC = enc.fit_transform(data.TC)
data.TS = enc.fit_transform(data.TS)

In [128]:
# np.isfinite(data.all())

In [129]:
X= data.iloc[:,:-1]
y=data.TS
# np.isfinite(X).all()

In [130]:
# data.sort_values(['normalized_losses'],ascending=False)
# data.head()

In [131]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=10)

In [141]:

model= RandomForestClassifier(n_estimators=5,
                             max_features=1,
                             max_depth=4,
                             criterion='gini')

model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [133]:
# #Visualizing
# dot_data = StringIO()
# export_graphviz(model, out_file=dot_data,  
#                 filled=True, 
#                 feature_names = X_train.columns,
#                 class_names=['trustworthy','untrustworthy'],
#                 rounded=True,
#                 special_characters=True)
# graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
# Image(graph.create_png())

In [134]:
# from collections import Counter
# Counter(data.loc[data.TS<5.0,'TS'])

In [142]:
y_predict = model.predict(X_test)

In [143]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

1.0

col_0   0   1
TS
0      64   0
1       0  33