In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('Skin_NonSkin.csv',header=None,skipinitialspace=True)
data.head()

    0   1    2  3
0  74  85  123  1
1  73  84  122  1
2  72  83  121  1
3  70  81  119  1
4  70  81  119  1

In [5]:
data.columns = ['B','G','R','Category']
data.head()

    B   G    R  Category
0  74  85  123         1
1  73  84  122         1
2  72  83  121         1
3  70  81  119         1
4  70  81  119         1

In [7]:
from sklearn.preprocessing import scale
X = scale(data.iloc[:,:-1])
y = data.Category

/Users/sankhadeepchatterjee/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,
                                                   random_state=10)

In [12]:
# MLP MultiLevel Perception
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPClassifier
model = MLPClassifier(learning_rate_init=0.1,
                      hidden_layer_sizes=(60,60),
                      random_state=15)
model.fit(X_train,y_train)
y_predict = model.predict(X_test)
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

0.9984901656737125

col_0         1      2
Category
1         15308     32
2            79  58099