In [1]:
# !pip install pymysql

Requirement already satisfied: pymysql in /Users/sankhadeepchatterjee/anaconda3/lib/python3.7/site-packages (0.9.3)

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
db_host = '18.136.56.185'
username = 'dm_team3'
user_pass = 'dm_team15119#'
db_name = 'project_telecom'

conn = create_engine('mysql+pymysql://'+username+':'+user_pass+'@'+db_host+'/'+db_name)

In [4]:
query = "select * from telecom_churn_data"

In [5]:
data = pd.read_sql(query,conn)

In [6]:
data.shape

(4617, 21)

In [8]:
data.columns = ['State','Account_Length','Area_Code','Phone','International_Plan'
                ,'VMail_Plan',
                'VMail_Message','Day_Mins','Day_Calls','Day_Charge','Eve_Mins','Eve_Calls',
                'Eve_Charge','Night_Mins','Night_Calls',
                'Night_Charge','International_Mins','International_calls','International_Charge'
                ,'CustServ_Calls','Churn'];
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
State                   4617 non-null object
Account_Length          4617 non-null object
Area_Code               4617 non-null object
Phone                   4617 non-null object
International_Plan      4617 non-null object
VMail_Plan              4617 non-null object
VMail_Message           4617 non-null object
Day_Mins                4617 non-null object
Day_Calls               4617 non-null object
Day_Charge              4617 non-null object
Eve_Mins                4617 non-null object
Eve_Calls               4617 non-null object
Eve_Charge              4617 non-null object
Night_Mins              4617 non-null object
Night_Calls             4617 non-null object
Night_Charge            4617 non-null object
International_Mins      4617 non-null object
International_calls     4617 non-null object
International_Charge    4617 non-null object
CustServ_Calls          4617 non-null object
Churn                   4617 non-null object
dtypes: object(21)
memory usage: 757.6+ KB

In [13]:
data.head()

,State,Account_Length,Area_Code,Phone,International_Plan,VMail_Plan,VMail_Message,Day_Mins,Day_Calls,Day_Charge,...,Eve_Calls,Eve_Charge,Night_Mins,Night_Calls,Night_Charge,International_Mins,International_calls,International_Charge,CustServ_Calls,Churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [9]:
# data.sort_values(['VMail_Plan'], ascending=False)

In [10]:
data.Account_Length=data.Account_Length.astype('int64')
data.Area_Code=data.Area_Code.astype('int64')
data.VMail_Message=data.VMail_Message.astype('int64')
data.Day_Mins=data.Day_Mins.astype('float64')
data.Day_Calls=data.Day_Calls.astype('int64')
data.Day_Charge=data.Day_Charge.astype('float64')
data.Eve_Mins=data.Eve_Mins.astype('float64')
data.Eve_Calls=data.Eve_Calls.astype('int64')
data.Eve_Charge=data.Eve_Charge.astype('float64')
data.Night_Mins=data.Night_Mins.astype('float64')
data.Night_Calls=data.Night_Calls.astype('int64')
data.Night_Charge=data.Night_Charge.astype('float64')
data.International_Mins=data.International_Mins.astype('float64')
data.International_calls=data.International_calls.astype('int64')
data.International_Charge=data.International_Charge.astype('float64')
data.CustServ_Calls=data.CustServ_Calls.astype('int64')

In [14]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.State = enc.fit_transform(data.State)
data.VMail_Plan = enc.fit_transform(data.VMail_Plan)
data.International_Plan = enc.fit_transform(data.International_Plan)
data.Churn = enc.fit_transform(data.Churn)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4617 entries, 0 to 4616
Data columns (total 21 columns):
State                   4617 non-null int64
Account_Length          4617 non-null int64
Area_Code               4617 non-null int64
Phone                   4617 non-null object
International_Plan      4617 non-null int64
VMail_Plan              4617 non-null int64
VMail_Message           4617 non-null int64
Day_Mins                4617 non-null float64
Day_Calls               4617 non-null int64
Day_Charge              4617 non-null float64
Eve_Mins                4617 non-null float64
Eve_Calls               4617 non-null int64
Eve_Charge              4617 non-null float64
Night_Mins              4617 non-null float64
Night_Calls             4617 non-null int64
Night_Charge            4617 non-null float64
International_Mins      4617 non-null float64
International_calls     4617 non-null int64
International_Charge    4617 non-null float64
CustServ_Calls          4617 non-null int64
Churn                   4617 non-null int64
dtypes: float64(8), int64(12), object(1)
memory usage: 757.6+ KB

In [16]:
data.head()

,State,Account_Length,Area_Code,Phone,International_Plan,VMail_Plan,VMail_Message,Day_Mins,Day_Calls,Day_Charge,...,Eve_Calls,Eve_Charge,Night_Mins,Night_Calls,Night_Charge,International_Mins,International_calls,International_Charge,CustServ_Calls,Churn
0,16,128,415,382-4657,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,371-7191,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,358-1921,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,375-9999,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,330-6626,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

In [18]:
X = data.loc[:,['State','Area_Code','International_Plan', 'VMail_Plan', 'VMail_Message', 
                'Day_Mins', 'Day_Calls', 'Day_Charge', 'Eve_Mins', 'Eve_Calls', 'Eve_Charge', 'Night_Mins',
                'Night_Calls','Night_Charge','International_Mins','International_calls',
                'International_Charge','CustServ_Calls']
            ]
y = data.Churn

In [19]:
X.head()

,State,Area_Code,International_Plan,VMail_Plan,VMail_Message,Day_Mins,Day_Calls,Day_Charge,Eve_Mins,Eve_Calls,Eve_Charge,Night_Mins,Night_Calls,Night_Charge,International_Mins,International_calls,International_Charge,CustServ_Calls
0,16,415,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1
1,35,415,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1
2,31,415,0,0,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0
3,35,408,1,0,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2
4,36,415,1,0,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3