In [26]:
import pandas as pd
import numpy as np
import fileinput
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

mountList = open("/usr2/py/mount.txt", "r").readlines()
newmountList = open("/usr2/py/newmount.txt","r").readlines()
outputList = [item for item in mountList if "filer" not in item.lower()]
outputList.extend(newmountList)
f = open("/usr2/py/mount.txt","w")
f.write(''.join(outputList))
f.close()

In [27]:
for line in fileinput.FileInput("DataSet/Dishonest Internet users dataset.txt", inplace=1):
    line=line.replace(" ",",")
    print(line)

In [28]:
data = pd.read_csv('DataSet/Dishonest Internet users dataset.txt',header=None,skipinitialspace=True)
data.shape

(322, 5)

In [29]:
data.columns = ['CT','CU','LT','TC','TS']
data.head()

           CT          CU          LT     TC             TS
0  CT_range_4  CU_range_1  LT_range_4  sport  untrustworthy
1  CT_range_4  CU_range_1  LT_range_4  sport  untrustworthy
2  CT_range_1  CU_range_4  LT_range_4  sport    trustworthy
3  CT_range_2  CU_range_1  LT_range_4  sport    trustworthy
4  CT_range_3  CU_range_1  LT_range_4  sport    trustworthy

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 5 columns):
CT    322 non-null int64
CU    322 non-null int64
LT    322 non-null int64
TC    322 non-null int64
TS    322 non-null int64
dtypes: int64(5)
memory usage: 12.7 KB

In [50]:
# data.sort_values(['normalized_losses'],ascending=False)
# data = data.reset_index()
# data.head()

In [31]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.CT = enc.fit_transform(data.CT)
data.CU = enc.fit_transform(data.CU)
data.LT = enc.fit_transform(data.LT)
data.TC = enc.fit_transform(data.TC)
data.TS = enc.fit_transform(data.TS)

In [52]:
# np.isfinite(data.all())

In [33]:
X= data.iloc[:,:-1]
y=data.TS
# np.isfinite(X).all()

In [54]:
# data.sort_values(['normalized_losses'],ascending=False)
# data.head()

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=10)

In [36]:

model= DecisionTreeClassifier(criterion='gini', 
                             max_depth=5,random_state=15)

model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [ ]:
#Visualizing