In [29]:
#importing necessary packages
import pandas as pd
from sklearn.svm import SVC
import numpy as np

In [30]:
data = pd.read_csv('Nursery/nursery.data',header=None,skipinitialspace=True)
data.shape

(12960, 9)

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12960 entries, 0 to 12959
Data columns (total 9 columns):
0    12960 non-null object
1    12960 non-null object
2    12960 non-null object
3    12960 non-null object
4    12960 non-null object
5    12960 non-null object
6    12960 non-null object
7    12960 non-null object
8    12960 non-null object
dtypes: object(9)
memory usage: 911.3+ KB

In [32]:
data.columns = ['parents','has_nurs','form','children','housing','finance','social','health','recomendation']
data.head()

,parents,has_nurs,form,children,housing,finance,social,health,recomendation
0,usual,proper,complete,1,convenient,convenient,nonprob,recommended,recommend
1,usual,proper,complete,1,convenient,convenient,nonprob,priority,priority
2,usual,proper,complete,1,convenient,convenient,nonprob,not_recom,not_recom
3,usual,proper,complete,1,convenient,convenient,slightly_prob,recommended,recommend
4,usual,proper,complete,1,convenient,convenient,slightly_prob,priority,priority

In [33]:
data.children.replace("1","one",inplace=True)
data.children.replace("2","two",inplace=True)
data.children.replace("3","three",inplace=True)

In [34]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
data.parents = enc.fit_transform(data.parents)
data.has_nurs = enc.fit_transform(data.has_nurs)
data.form = enc.fit_transform(data.form)
data.children = enc.fit_transform(data.children)
data.housing = enc.fit_transform(data.housing)
data.finance = enc.fit_transform(data.finance)
data.social = enc.fit_transform(data.social)
data.health = enc.fit_transform(data.health)
data.recomendation = enc.fit_transform(data.recomendation)

In [47]:
data.head()

,parents,has_nurs,form,children,housing,finance,social,health,recomendation
0,2,3,0,1,0,0,0,2,2
1,2,3,0,1,0,0,0,1,1
2,2,3,0,1,0,0,0,0,0
3,2,3,0,1,0,0,2,2,2
4,2,3,0,1,0,0,2,1,1

In [53]:
data['recomendation'].unique()

array([2, 1, 0, 4, 3])

In [35]:
X = data.iloc[:,:-1]
y = data.recomendation

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size=0.3,
                                                  random_state=10)

In [37]:
#Defining and fitting
model = SVC(kernel='rbf',C=1000,gamma=0.06)
model.fit(X_train,y_train)

SVC(C=1000, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.06, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [38]:
from collections import Counter
Counter(data.loc[data.recomendation<5.0,'recomendation'])

Counter({2: 2, 1: 4266, 0: 4320, 4: 328, 3: 4044})

In [39]:
y_predict = model.predict(X_test)

In [40]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_predict))
pd.crosstab(y_test, y_predict)

0.9987139917695473

col_0             0     1     3    4
recomendation
0              1286     0     0    0
1                 0  1274     1    1
2                 0     0     0    1
3                 0     0  1220    0
4                 0     2     0  103

# Exporting Model

In [41]:
from sklearn.externals import joblib
joblib.dump(model, "nursery.ml")

['nursery.ml']

In [52]:
loaded_model = joblib.load("nursery.ml")
y_predict = loaded_model.predict([[2,5,0,1,0,0,0,2]])
# result = loaded_model.score(y_predict)
print(y_predict)

[3]